[user]
	name = Will Dixon
	email = dixonwille@hotmail.com
	siginingkey = 496AC5165C585343
[push]
	default = simple
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[pull]
	rebase = true
[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
	bcm = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
[url "git@github.com:"]
	insteadof = https://github.com/
[include]
	path = .gitconfig_custom
